/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('https://cadenaser.com/resizer/v2/OCLEXSAZV5EYVNC7B6JGISGPFI.jpg?auth=9b8fffcdeec407a25fde192d2db53e54ed48ba0472083dafdc47ec7f753b45a1&quality=70&width=1200&height=900&smart=true') no-repeat center center fixed;
    /* Cambia esta URL por la imagen de calabazas */
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
    /* Opacidad de fondo */
    position: relative;
    overflow: hidden;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Header */
header {
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    color: #f39c12;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Main content section */
.content {
    padding: 20px;
}

p {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Footer */
footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #bbb;
}

/* Animación para los murciélagos */
.bat {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    background-image: url('https://st2.depositphotos.com/9910802/42054/v/450/depositphotos_420545324-stock-illustration-vector-set-group-three-white.jpg');
    /* Cambia esta URL por la imagen del murciélago */
    background-size: cover;
    animation: fly 10s linear infinite;
}

/* Animación de vuelo */
@keyframes fly {
    0% {
        transform: translateX(-100px) translateY(0);
    }

    50% {
        transform: translateX(100vw) translateY(200px);
    }

    100% {
        transform: translateX(-100px) translateY(0);
    }
}

/* Posicionamiento aleatorio para cada murciélago */
#bat1 {
    top: 20%;
    animation-duration: 12s;
}

#bat2 {
    top: 40%;
    animation-duration: 15s;
}

#bat3 {
    top: 60%;
    animation-duration: 10s;
}